* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.num {
  font-size: 40px;
  position: relative;
  left: 260px;
  top: 60px;
  color: #ab3fd0;
}

.pic {
  margin: 0px;
  position: relative;
  left: 0px;
  height: 140px;
  top: 40px;
}
.title {
  position: relative;
  top: 50px;
  left: -50px;
}

.svg {
  margin: 0;
  padding: 0;
}

.intro {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.react {
  background: #75efef;
}
.store {
  width: 248px;
}

.works {
  font-family: 'Indie Flower', cursive;
}

.vanilla {
  background: #f3a48b;
}
.vbox {
  background: #fff176;
}

.node {
  background: #efc5fe;
}
.box {
  background: #bdffcc;
}
